/*
* --------------------------------------------------
* Global Variables
* --------------------------------------------------
*/
:root {
  --grey-100: #e5e5e5e5;
  --grey-200: #bbb;
  --red: #dc3545;
  --header-height: 64px;
  --footer-height: 528px @media (width > 860px) {
    --header-height: 77px;
    --footer-height: 312px;
  }
}

/*
* --------------------------------------------------
* Fonts
* --------------------------------------------------
*/
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  src: url(../assets/fonts/Nunito.ttf);
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  src: url(../assets/fonts/OpenSans.ttf);
}

@font-face {
  font-family: 'Clash Display';
  font-style: normal;
  src: url(../assets/fonts/ClashDisplay.ttf);
}

/*
* --------------------------------------------------
* Animations
* --------------------------------------------------
*/
