* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overscroll-behavior: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans';
  font-weight: 500;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  border: none;
  outline: none;
  border-radius: 0px;
  display: block;
  background-color: transparent;
}
/* Hide the number input arrows */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
fieldset {
  border: none;
  outline: none;
}
button {
  color: black;
  outline: none;
  border: none;
  border-radius: 0px;
  background-color: transparent;
  cursor: pointer;
}
img {
  display: block;
}
svg {
  display: block;
}
