.category {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  & > *:not(:first-child) {
    flex-basis: 50%;
    max-width: 50%;
    flex-shrink: 0;
    @media (width > 860px) {
      flex-basis: calc(100% / 3);
      max-width: calc(100% / 3);
    }
  }
}
.category_info {
  max-width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  flex-basis: 100%;
  /* background-color: #ededed; */
  @media (width > 860px) {
    flex-basis: calc(100% / 3);
    max-width: calc(100% / 3);
    gap: 16px;
    align-items: flex-start;
  }
}
.category_title {
  font-size: 24px;
  text-align: left;
  color: black;
  text-transform: uppercase;
  @media (width > 860px) {
    font-family: 'Clash Display';
  }
}
.category_description {
  font-style: italic;
  color: #777;
  @media (width > 860px) {
    font-size: 14px;
    line-height: 20px;
  }
}
.slidercontainer {
}
