.line {
  display: block;
  width: 100%;
  background-color: black;
  height: 1px;
  animation: loadingLine 2s linear infinite;
}
@keyframes loadingLine {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.2);
  }
  100% {
    transform: scaleX(1);
  }
}
