.main {
}
.productsGrid {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr;
  @media (width > 700px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (width > 1300px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.collection {
  padding: 24px;
  padding-top: calc(var(--header-height) + 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.collection_title {
  font-family: 'Clash Display';
  font-size: 40px;
  line-height: 38px;
  font-weight: bold;
  @media (width > 700px) {
    font-size: 24px;
  }
}
.collection_desc {
  font-family: 'Clash Display';
  font-weight: 500;
  font-size: 14px;
  font-weight: 500;
  text-align: justify;
  line-height: 20px;

  font-size: 16px;
  @media (width > 700px) {
    font-size: 14px;
  }
}
.productContainer {
  flex-basis: 25%;
}
