.main {
  width: clamp(0px, 100%, 500px);
  margin: 0 auto;
}
.form {
}
.fieldset {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.label {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
}
.input {
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid black;
  font-size: 14px;
  color: #333;
  &::placeholder {
    font-size: 14px;
    color: #555;
  }
}
.forgotPass {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-top: 24px;
  font-size: 14px;
  color: #555;
  &:hover {
    color: black;
  }
}
.error {
  font-size: 14px;
  color: var(--red);
}
.btn {
  width: 100%;
  height: 42px;
  margin-top: 32px;
  border-radius: 50px;
  border: 1px solid black;
}
.login_btn {
  font-size: 14px;
}
.loadingLine {
  padding: 0px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.createAcc {
  display: block;
  width: fit-content;
  font-size: 14px;
  margin-top: 24px;
  padding-bottom: 2px;
  border-bottom: 1px solid #333;
  overflow: hidden;
  text-transform: capitalize;
  & span {
    display: block;
    transition: transform 0.2s linear;
    text-shadow: 0px 20px 0px black;
  }
  &:hover span {
    transform: translateY(-100%);
  }
}
