.cart_summary {
  margin-top: auto;
}
.total {
  width: 100%;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #bbb;
}
.total_title {
  font-size: 14px;
  text-transform: uppercase;
}
.total_amount {
  font-size: 14px;
  text-transform: capitalize;
  color: #333;
}
.checkout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 24px;
  padding-right: 16px;
}
.checkout_info {
  font-size: 12px;
  color: #777;
}
.checkout_btn {
  text-transform: capitalize;
  padding: 8px 16px;
  width: 120px;
  color: black;
  border: 1px solid black;
  border-radius: 50px;
}
