.heroImageContainer {
  width: 100%;
  @media (width > 860px) {
    display: none;
  }
}
.heroImage {
  width: 100%;
  aspect-ratio: 7.5 / 8;
  background-color: #ededed;
  object-fit: cover;
  object-position: center top;
}
.video {
  width: 100%;
  display: none;
  @media (width > 860px) {
    display: block;
  }
}
