.page {
  width: 100%;
}
.category {
  display: flex;
  flex-wrap: wrap;
}
.category > div {
  flex-basis: calc(100% / 3);
  @media (width > 1200px) {
    &:nth-of-type(:not(:last-of-type)) {
      flex-basis: calc(100% / 2);
    }
  }
}
.category_info div {
  width: 100%;
  flex-basis: 100%;
  color: red;
  @media (width > 1200px) {
    width: calc(100% / 3);
    fllex: calc(100% / 3);
  }
}
.category_product {
  overflow: hidden;
}
.product_imagesContainer {
  width: 100%;
  aspect-ratio: 2/3;
  background-color: #ededed;
}
.product_image {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
